<!DOCTYPE html>
<html lang=ja>
<head>
  <meta charset="utf-8">
  <title>テスト</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/test.css">
</head>
<body>
  <% if (!username) { %>
    <div id="login"><div class="container"><a href="/signin">ログイン</a></div></div>
  <% } else { %>
    <div id="user"><div class="container"><%= username %> : <%= rating %></div></div>
  <% } %>
  <main>
    <canvas id="color" width="500" height="600"></canvas>
    <canvas id="frame" width="500" height="600"></canvas>
    <canvas id="effect" width="500" height="600"></canvas>
    <canvas id="active" width="500" height="600"></canvas>
    <canvas id="choice" width="500" height="600" class="hidden"></canvas>
  </main>
  <div id="prev">前へ</div>
  <div id="next">次へ</div>
  <div id="information" class="information"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/test.js"></script>
</body>
</html>
